<style>
    .menu{
        display: flex;
        width: 100%;
        overflow: scroll;
        gap: 10px;
    }
</style>
<div class="menu">
    <a  href="/owner/owner_home/" class="my-1 {% if request.path == '/owner/owner_home/' %}btn btn-warning{% else %}btn btn-primary{% endif %}">Home</a>
    <a  href="/owner/sales/" class="my-1 {% if request.path == '/owner/sales/' %}btn btn-warning{% else %}btn btn-primary{% endif %}">विक्री</a>
    <a  href="/owner/purchase/" class="my-1 {% if request.path == '/owner/purchase/' %}btn btn-warning{% else %}btn btn-primary{% endif %}">खरेदी</a>
    <a  href="/owner/report/" class="my-1 {% if request.path == '/owner/report/' %}btn btn-warning{% else %}btn btn-primary{% endif %}">Report</a>
    <a  href="/owner/item/" class="my-1 {% if request.path == '/owner/item/' %}btn btn-warning{% else %}btn btn-primary{% endif %}">Item</a>
    <a  href="/owner/profile/" class="my-1 {% if request.path == '/owner/profile/' %}btn btn-warning{% else %}btn btn-primary{% endif %}">Profile</a>
    <a href="/owner_logout/" class="btn btn-danger my-1">Logout</a>
</div>