{% extends 'home/base.html' %}
{% block head %}
{% endblock head %}
{% block content %}
{% include 'include/alert.html' %}
<div>
    welcome - {{shope.owner_name}}
</div>

{% include 'include/owner/owner_menu.html' %}


<style>
    .containt_box{
        padding: 1px;
        display: grid;
        grid-template-columns: 2fr 1fr ;
        gap: 1px;
        background-color: black;
        div{
            background-color: white;
            text-align: center;
        }
    }
</style>


<div id="canvas" class="container">
    <div class="text-center"><h5><b>{{shope.shope_name}}</b></h5></div>
    <div class="containt_box">
        {% for i in item_stock %}
            <div style="text-align: left;padding-left: 10px;"><b> {{i.name}}</b></div>
            <div style="text-align: left;padding-left: 10px;">Stock <b> {{i.stock}}</b></div>
        {% endfor %}
    </div>
</div>


{% endblock content %}